<%= form_tag sessions_path do %>
  <div class="modal-dialog">
		<div class="loginmodal-container">
			<h1>Login to Your Account</h1><br>
		  <form>
			<%= text_field_tag :email, placeholder: "email" %>
			<%= password_field_tag :password, placeholder: "password" %>
			<%= submit_tag "Log In", class: "login loginmodal-submit" %>
		  </form>
			
		</div>
	</div>
  </div>
 <% end %>