<div class="col-md-3 hero-feature">
  <div class="thumbnail">
    <%= image_tag @item.avatar.url(:medium) %>
    <div class="caption">
      <h3><%= @item.title %></h3>
      <p><%= @item.content %></p>
      <p>
        <%= link_to 'Back', items_path, class: 'btn btn-warning' %>
      </p>
    </div>
  </div>
</div>